<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                      Quite a few years ago I decided one day to take control and set out a plan for what
                      I wanted to accomplish within the next 10 years,
                      here is a timeline of the accomplishments and experience so far.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2013 - Dec 2013</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I enrolled on a short course at a local college for designed to improve
                                      yourself for professional work environments, this is where my journey really began.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2014 - Sep 2014</h4>
                                    <h4 class="subheading">The chance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After two months of work experience
                                      i was offered a permanent position within the Multimedia design and technology lab
                                  and the offer for a letter of recommendation to be enrolled on a course.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2014 - April 2018</h4>
                                    <h4 class="subheading">Commitment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This was the biggest step and my main focus.
                                      I enrolled on Computer Science with a foundation year.
                                      I thrived during these 4 years and I continued working for the
                                      Multimedia department on big projects during it all.
                                      I pushed myself hard studying and working,
                                      big ups and downs and finally achieved something for myself.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24th July 2018</h4>
                                    <h4 class="subheading">Graduation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> I graduated with high confidence in myself,
                                      now having the experience from my degree
                                    and from working at the university.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018 - Sep 2018</h4>
                                    <h4 class="subheading">Working and Decisions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Straight out of my degree i went back into full time
                                    employment at the university changing my role to software developer (Project examples in portfolio).
                                  At this point i also had other commitments in my personal life, this is where a big decision
                                was made.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2018 - Present</h4>
                                    <h4 class="subheading">The descision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> After debating with myself and discussions with everyone around me
                                      I completed my projects and contract with the university and the tough decision was made
                                      to relocate to Thailand permanently. This was not a choice made on a whim,
                                      it had been in the works for a few years as an option. Fully supported by my wife, family,
                                      friends and colleagues, feeling confident in myself I took this big step in my life to start
                                      what I see as an adventure and find myself a professional career, take control of my personal
                                      life and be who I wanted to be in a new country.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of my
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="section-heading">But what happens next?</h3>
                            <h3 class="section-subheading text-muted">
                              Currently i am activly looking for opportunities and my next step.
                              <br>As i said at the start this was a 10 year plan and there are still 5 left.
                            <br> Interested to see if the next part of my storycould involve you?
                            <br>Take a look at my portfolio, Linkedin, Github and contact me</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
