<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                      Quite a few years ago I decided one day to take control and set out a plan for what
                      I wanted to accomplish within the next 10 years,
                      <br>here is a timeline of the accomplishments and experience so far.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2013 - Dec 2013</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I enrolled on a short course at a local college designed to improve
                                      yourself for professional work environments, provide interpersonal training
                                      and educate on work place conduct. This was over 2 months and at the end i was
                                      recommended for a work placement at a University.
                                      This is where my journey really began.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2014 - Sep 2014</h4>
                                    <h4 class="subheading">The chance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After two months of work experience
                                      I was offered a permanent position within the 'Multimedia design and technology lab'
                                  and due to my aptitude shown during my time there I was given
                                  the offer for a letter of recommendation to be enrolled on a course at the
                                  University of Sussex.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2014 - April 2018</h4>
                                    <h4 class="subheading">Commitment</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      I enrolled on Computer Science with a foundation year,
                                      this was the biggest step and my main focus now.
                                      I thrived during these 4 years and I continued working for the
                                      Multimedia department during it all.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>24th July 2018</h4>
                                    <h4 class="subheading">Graduation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> I graduated with high confidence in myself,
                                      now having the experience from my degree
                                    and from working at the university all that time.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018 - Sep 2018</h4>
                                    <h4 class="subheading">Working and Decisions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Straight out of my degree I went back into full time
                                    employment at the university changing my role to software developer (Project examples in portfolio).
                                  At this point I also had other commitments in my personal life, this is where a big decision
                                was made.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sep 2018 - Present</h4>
                                    <h4 class="subheading">The Decision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> After debating with myself, discussions with everyone around me
                                      and as my projects were complete and contract with the university was coming to an end,
                                       the decision was made to relocate to Thailand permanently.
                                      <br>Feeling confident in myself I took this big step in my life to start
                                      what I see as an adventure and find myself a professional career, take control of my
                                      life and be who I want to be.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of my
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3 class="section-heading">But what happens next? </h3>
                            <h3 class="section-subheading text-muted">
                              Currently I am actively looking for opportunities and my next step towards my goals.
                              <br>As I said at the start this was a 10-year plan and there are still 5 left.
                            <br> Interested to see if the next part of my story could involve you?
                            <br>Take a look at my portfolio, Linkedin, Github and feel free to contact me.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
