<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted" style="line-height: 1.75;">
                      Small selection of my primary professional skills.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">
                      I started off programming in C and C++ and have still used them for
                      some recent projects (example in my portfolio). I primarily work in Java and related technology
                      for projects, but I am not averse to working in other languages. I am currently enjoying
                      Android development and working on adding Kotlin to my skills. When programming I work mostly
                      in Android Studio, IntelliJ IDEA and Atom.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technical Writing</h4>
                    <p class="text-muted">My writing and documentation were always my strongest and highest marked
                      projects throughout my degree and this proved useful when being
                      employed by the University of Sussex as every project required accompanying documentation or
                      reports. I decided to continue developing this skill and enjoy creating and designing clear
                      concise documentation. <br> This is a field I would be interested in pursuing in my professional career.
                      The main tools I have been using for any of my technical writing or otherwise are Adobe FrameMaker
                      and Word.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Git</h4>
                    <p class="text-muted">Since a Hackathon that we hosted at my university back in 2015, where a
                      Github representative came and gave a presentation I was immediately interested.
                      This tool has had a huge impact on how I like to work and look forward to
                      using Git or similar tools more in the industry at a professional level.</p>
                </div>
            </div>
        </div>
    </section>
