<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted" style="line-height: 1.75;">
                      Small selection of my primary professional skills.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Programming</h4>
                    <p class="text-muted">
                      I started off programming in C and C++ and have still used them for
                      some recent projects (example in my portfolio). I primarily like to
                      work in Java and related technologies for projects.
                      I am currently enjoying Android development and working on
                      adding Kotlin to my skills. When programming I work mostly
                      in Android Studio, IntelliJ IDEA and Atom, combined with Git.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Writing</h4>
                    <p class="text-muted">My writing has always been my strongest natural talent,
                      I am a freelance copywriter, ghostwriter and tech writer.
                      Individuals and companies use my words for a competitive SEO advantage and for
                      my creative knowledge. Content mills are draining, so im always on the look out for
                      new clients to work with.
                       <br> This is a field I would be interested in pursuing in my professional career.
                     so feel free to contact me with any questions or .</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technician</h4>
                    <p class="text-muted">Majority of my professional career has been as a technician
                      in some form and later was combined with being a software developer.
                      Ive worked as a technician in the University of Sussex for a little over five years,
                      this has provided me with a very strong technical knowledge and understanding
                      which influences my other skills heavily.
                      I was often out researching and sourcing new tech for the Lab to be utilized
                      and improve projects. </p>
                </div>
            </div>
        </div>
    </section>
