<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Me!</h2>
                    <h3 class="section-subheading text-muted">Check me out</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                  <div class="team-member">
                  </div>
              </div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr style="border-color: #646464"></hr>
                    <h3 style="text-align: center; color: #646464">Ryan is <br> thinking, <i style="color: #fed137">creating
                    </i>, eating, studying,<br><i style="color: #fed137">programming</i>, sleeping, <br> learning,
                    <i style="color:#fed137">Writing</i>.</h3>
                    <hr style="border-color: #2e2e2e"></hr>
                    <p class="text-muted" style="text-align: center">
                      <h4>Why you should hire me:</h4><br>
                      <p>As I mentioned in my skill section, I just so happen to be a programmer in Java and Android, writer/ copywriter and a tech guy.
                      <br>You, as someone pursuing a candidate with one of these skills came to the right place.
                      This is going great so far and we’ve only just started.
                      But I’m not the only person out there with these skills.
                      In fact, there are millions of people probably.
                      We’re all so eager to tell you about how great and skillful we are.
                      <br>Lucky you!</p>
<br><br>
                      <h4>What makes me different? Why do I stand out?</h4> <br>
                      <p>I was employed by the University of Sussex for six years working in the Media Technology Lab (MTL),
                      from my second to fifth year I was also pursuing my undergraduate in Computer Science.
                      Whilst working and studying I discovered I’ve got the logical mindset
                      required for programming and a natural talent for writing as well.
                      This in turn reflects in my programming, being a writer means I comment my code with superlative documentation. It means I'm concise, efficient and have a love for good structure and readability in both fields.
<br><br>
                      Speaking about being concise who doesn’t love lists, I know how to:
<br>
                      - Use words like “superlative”<br>
                      - Academic level of writing and precision<br>
                      - Write on a multitude of subjects<br>
                      - Write and code in a concise and effective manner<br>
                      - meticulous programmer<br>
                      - Extraordinary research and planning<br>
                      - Deliver results that you will love.<br></p>
<br>
                      <h4>Is that it?</h4><br>
                      <p>Besides all that, you can rely on me to deliver on projects and tailor content to your needs.
                      I bring a fun and engaging atmosphere to either wherever I'm working or
                      whatever I'm working on and bring the ideas of projects to life.<br>
                      Ive attained a high level of workplace ethics from working within an academic circumambient
                      and am accustomed to dynamic work place environments.<br>
                      With my writing I know how to use engaging and insightful sentences to make the reader
                      hang on to each and... every... WORD.</p>
<br><br>
                      <h4>Services:</h4><br>
                      <p>Programming:<br>
                      - Java<br>
                      - Android<br>
                      - Git<br>
<br>
                      Writing:<br>
                      - Website Copy<br>
                      - Technical<br>
                      - Newsletters<br>
                      - Cover letters<br>
                      - Ghostwriting<br>
                      - Social Media posts<br>
                      - Editing<br>
                      - Proof reading</p>
<br>
                      <h4>How much do I charge?</h4>
<br>
                      Pricing:<br>
                      <p>Positions as a developer are negotiable and obviously depend upon multiple variables
                      such as the position, my relative experience and your company rates for example.<br>
                      Writing, I am open to freelance, contract or just throw things my way if you need something.
                      My rates start from $0.05 - $0.2pw depending on content and length,
                      or maybe you prefer hourly $10 - $25phr. These can be negotiated depending upon the type
                      or writing as listed in the points above.</p>
<br><br>
                      <h4>Let’s talk business!</h4><br>
                      <p>If I'm someone you’d be interested in working with, then it sounds like we have some things
                      to discuss. I'm glad you reached this far in my bio;
                      your attention is span is inspiring as this was a nearly a 500-word bio,
                      so If nothing else, I wish you a good rest of your day.
                      </p>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="team-member">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">

                    </p>
                </div>
            </div>
        </div>
    </section>
