<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Me!</h2>
                    <h3 class="section-subheading text-muted">Check me out</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                  <div class="team-member">
                  </div>
              </div>
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr></hr>
                    <h3 style="text-align: center; color: #999999">Ryan is <br> thinking, <i style="color: #33beff">creating</i>, eating, studying,<br><i style="color: #f35151">programming</i>, sleeping, <br> learning, <i style="color: #48da48">designing</i>.</h3>
                    <hr></hr>
                    <p class="text-muted" style="text-align: center">
                      Currently living in Thailand enjoying the hot sun, the heavy rain, the delicious food and
                      being with my family. I love exploring the mix of cultures and local area while interacting
                      with the community around where I am living. <br>Along with programming I like to improve
                      and practice my technical writing skills and work on my projects in some of the new places
                      I’ve discovered in the mountain areas or by waterfalls or even in a unique cafe.
                      <br/><br/> I am open to offers and currently looking for roles in a company I can grow with.
                      I am confident in myself and bring some key experience and initiative already from previous
                      employments.
                    </p>
                </div>
                {% endfor %}
                <div class="col-sm-4">
                    <div class="team-member">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">

                    </p>
                </div>
            </div>
        </div>
    </section>
